@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

body {
    background-color: rgb(230, 230, 230);
    margin:auto;
    padding:0;
    box-sizing: border-box;
    max-width: 1440px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*border: 2px green dotted;*/

}
/*-------------HEADER ET NAV------------------*/
header {
    /*border: dotted 2px red;*/
    width: 100%;
    margin: auto;
    margin-top: 0px !important;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header ul
{
    list-style: none;
    /*border: 2px black dotted;*/
    margin: 0 0 0 auto;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

header ul li
{
    
    margin-right: 3vw;
    /*border: green 2px dotted;*/
    width: 50px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
    

}

header ul li a
{
    /*border: 2px blue dotted;*/
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin: 0 auto 0 auto;
    color: white;
    font-family: 'Barlow';
    font-size: 18px;
   

}

header ul li a:hover
{
    /*border: 2px yellow dotted;*/
    transition: 0.3s;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Fraunces';
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1vh;
    margin: -1vh;


    border-radius: 40px;

}

header img {
    /*border: black 2px dotted;*/
    margin-left: 2vw;
}

/*----------HERO--------------*/

#hero {
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size:cover;
    width:100%;
    display:flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    /*border: yellow 2px dotted;*/
}

h1
{
    font-family: 'Fraunces';
    font-size: 35px;
    font-weight: 900;
    color: white;
    letter-spacing: 8px;
    
}

#title {
    /*border: peru 2px dotted;*/
    height: 80%;
}

/*--------------CORPS---------------*/
#main {
    background-color: rgb(255, 251, 248);
    height: auto;
    width:100%;
}

.etage {
    /*border: black 2px dotted;*/
    height: 50vh;
    width:100%;
    display: flex;


}

.container {
    /*border: red 2px dotted;*/
    width: 50%;
    height:100%;
    display:flex;
    align-items: center;
}



.interne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
    /*border: blue dotted 2px;*/

}

.interne2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    margin: auto;
    /*border: blue dotted 2px;*/
    margin-bottom: 7%;
    
}

#carre2 {
    background-image: url(images/desktop/image-transform.jpg);
    background-position: center;
    background-size:cover;
}

#carre3 {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size:cover;
}

#carre5 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: top;
    background-size:cover;

}

#carre6 {
    background-image: url(images/desktop/image-photography.jpg);
    background-position: top;
    background-size:cover;

}

h2 {
    font-family: 'Fraunces';
    font-size: 2em;
    
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(120, 120, 120);
}

#btn1 {
    display: block;
    font-family: 'Fraunces';
    border-style: none;
    background-color:hsl(51, 100%, 75%);
    width: 100px;
    height: 8px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    
}

#btn1:hover {
    background-color:hsl(51, 100%, 49%);
    transition: 0.3s;

}

#btn2 {
    display: block;
    font-family: 'Fraunces';
    border-style: none;
    background-color:hsl(7, 99%, 85%);
    width: 100px;
    height: 8px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
}

#btn2:hover {
    background-color:hsl(7, 99%, 70%);
    transition: 0.3s;

}

h3 {
    font-family: 'Fraunces';
    color: hsl(198, 62%, 26%);
    text-align: center;
}

/*-------------TESTIMONIALS---------------*/

#testimonials {
    padding-top: 100px;
   
    background-color: rgb(255, 251, 248);
    height: 600px;
    width:100%;

}


#gallerie {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.portrait {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width:90px;
    height: 90px;
    background-size: cover;
    margin-bottom: 40px;
}

.fiche {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 2vw 0 2vw;

}


.nom {
    color: black;
    font-family: 'Fraunces';
    margin-top: 55px;
    margin-bottom: -10px;
    /*border: blue 2px dotted;*/

}

.poste {
    color:darkgray;
    /*border: blue 2px dotted;*/
}



/*---------BANDE D IMAGE--------*/

#bande {
    width: 100%;
    margin:auto;
    height:450px;
    display: flex;
    flex-direction: row;
   
    /*border: blue 2px dotted;*/
}

#bande img {
    width: 100%;
    
}

/*---------FOOTER--------*/

footer {
    width: 100%;
    background-color: #90d4c5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logofooter {
    margin-top: 50px;    
    margin-bottom: 50px;
}

#nav-footer {
    /*border: black 2px dotted;*/
    display: flex;
    justify-content: space-around;
    width: 20vw;
    margin-bottom: 50px;
    list-style-type: none;
}

#nav-footer a {
    display: block;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Barlow';
    font-weight: 600;
    /*border: red 2px dotted;*/
    color:#2d7464;

}

#nav-footer a:hover {
    color:white;
    transition: 0.3s;

}

/* mettre le svg sur un navigateur en drag. 
f12 clique droit, modifier le svg et copier . La couleur est changeable*/

#faceb :hover{
    fill: white;
    transition: 0.3s;
}

#insta :hover{
    fill: white;
    transition: 0.3s;
}

#twitt :hover{
    fill: white;
    transition: 0.3s;
}

#pinter :hover{
    fill: white;
    transition: 0.3s;
}

#reseaux {
    width: 200px;
    /*border: black dotted 2px;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
}

#reseaux li {
    list-style-type: none;
    
}

/*-----------CREDITS------------*/

.attribution { 
    font-size: 18px; 
    text-align: center; 
}



.attribution a {
     color: hsl(228, 45%, 44%); 
    }


/* @media screen and (375px mobile, desktop: 1440;    

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)
*/